*
{
    box-sizing: border-box;
}
.containerA
{
    display: flex;

    flex-wrap: warp;

    flex-direction: column;
}
.boxA
{
  max-height: 400px;
}
.boxA,
.boxB
{
    width: 100%;
}
@media screen and (min-width: 500px)
{
    .containerA
    {
        max-height: 500px;
        display: flex;
        flex-direction: row;
    }
    .boxA,
    .boxB
    {
        max-height: 500px;
    }
    .boxA{
      width: 30%;
    }
}
ul{
list-style-position: outside; /*so the word break wont set word immediately below the item markers*/
}
